:local(.summary) {
  --mgi-details-handle-height: 4px;
  cursor: pointer;
  position: relative;
  padding-right: calc(1em + var(--mgi-details-handle-height) * 2);

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: calc(var(--mgi-details-handle-height) / -2);
    right: 0;
    border-style: solid;
    border-width: var(--mgi-details-handle-height) var(--mgi-details-handle-height) 0
      var(--mgi-details-handle-height);
    border-color: var(--mgi-theme-palette-gray) transparent transparent transparent;
  }

  &.opened {
    &::after {
      border-width: 0 var(--mgi-details-handle-height) var(--mgi-details-handle-height)
        var(--mgi-details-handle-height);
      border-color: transparent transparent var(--mgi-theme-palette-gray) transparent;
    }
  }
}
