.Toastify__toast:before {
  content: ' ';
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  margin: 0.6rem 0.5rem 0 1rem;
}

.Toastify__toast--info {
  background: var(--mgi-theme-palette-blue);
}

.Toastify__toast--info:before {
  background-image: url('./notification-info.svg');
}

.Toastify__toast--success {
  background: var(--mgi-theme-palette-green);
}

.Toastify__toast--success:before {
  background-image: url('./notification-success.svg');
}

.Toastify__toast--warning {
  background: var(--mgi-theme-palette-orange);
}

.Toastify__toast--warning:before {
  background-image: url('./notification-warn.svg');
}

.Toastify__toast--error {
  background: var(--mgi-theme-palette-red);
}

.Toastify__toast--error:before {
  background-image: url('./notification-error.svg');
}