:root {
  --mgi-panel-padding: 17px 25px;
  --mgi-panel-spacing: calc(1.5 * var(--mgi-spacing));
  --mgi-panel-header-background: #f7f9fc;
}

:local(.panel) {
  min-height: 1rem;
}

:local(.panel) + :local(.panel) {
  margin-top: var(--mgi-panel-spacing);
}

:local(.panelHeader) {
  display: flex;

  background-color: var(--mgi-panel-header-background);
  padding: var(--mgi-panel-padding);

  border-radius: 4px 4px 0 0;
  box-shadow: 0px 2px 4px rgba(52, 73, 94, 0.1);

  font-size: var(--mgi-theme-font-size-small);
  line-height: 17px;

  & svg:first-child {
    margin: 0.2rem 0.5rem 0 0;
    flex-shrink: 0;
  }
}

:local(.panelBody) {
  background-color: white;

  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(52, 73, 94, 0.1);
}

:local(.panelBody).padded {
  padding: var(--mgi-panel-padding);
}

:local(.panelHeader) + :local(.panelBody) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
