:root {
  --mgi-color-check-button-size: 32px;
}

:local(.checkButton) {
  width: var(--mgi-color-check-button-size);
  height: var(--mgi-color-check-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 100%;
  cursor: pointer;
}

:local(.checkButton) svg {
  width: calc(var(--mgi-color-check-button-size) / 1.6);
  height: auto;
}

:local(.checkButton)[data-color='blue'] {
  background-color: var(--mgi-theme-palette-lightblue);
}

:local(.checkButton)[data-color='green'] {
  background-color: var(--mgi-theme-palette-green);
}

:local(.checkButton)[data-color='red'] {
  background-color: var(--mgi-theme-palette-red);
}

:local(.checkButton)[data-color='pink'] {
  background-color: var(--mgi-theme-palette-pink);
}

:local(.checkButton)[data-color='orange'] {
  background-color: var(--mgi-theme-palette-orange);
}

:local(.checkButton)[data-color='yellow'] {
  background-color: var(--mgi-theme-palette-yellow);
}
