:root {
  --mgi-color-check-button-size: 20px;
  --mgi-color-check-check-margin: 2px;
}

:local(.checkButton) {
  width: var(--mgi-color-check-button-size);
  height: var(--mgi-color-check-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}

:local(.checkButton)[data-checked='true']::before {
  width: calc(
    var(--mgi-color-check-button-size) - 2 * var(--mgi-color-check-check-margin)
  );
  height: calc(
    var(--mgi-color-check-button-size) - 2 * var(--mgi-color-check-check-margin)
  );
  box-sizing: border-box;
  display: block;
  content: ' ';
  position: absolute;
  top: var(--mgi-color-check-check-margin);
  left: var(--mgi-color-check-check-margin);
  border: 1px solid white;
  border-radius: 100%;
}

:local(.checkButton) svg {
  width: calc(var(--mgi-color-check-button-size) / 1.6);
  height: auto;
}

:local(.checkButton)[data-color='blue'] {
  background-color: var(--mgi-theme-palette-lightblue);
}

:local(.checkButton)[data-color='green'] {
  background-color: var(--mgi-theme-palette-green);
}

:local(.checkButton)[data-color='red'] {
  background-color: var(--mgi-theme-palette-red);
}

:local(.checkButton)[data-color='pink'] {
  background-color: var(--mgi-theme-palette-pink);
}

:local(.checkButton)[data-color='orange'] {
  background-color: var(--mgi-theme-palette-orange);
}

:local(.checkButton)[data-color='yellow'] {
  background-color: var(--mgi-theme-palette-yellow);
}
