.content {
  margin: 5px 25px;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 10px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
  }

  .current {
    padding-bottom: 35px;
  }

  .submit {
    width: 100%;
    margin-top: 65px;
  }

  .error {
    float: right;
    color: #FF2F2F;
  }
}
