:local(.signoutButton) {
  font-size: 2rem;
  color: #95A6BB;
  padding: 0;
  height: var(--mgi-application-box-menu-item-width);
}

:local(.menuIconWrapper) {
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
