:local(.infoFullName) {
  flex: 1;
}

:local(.infoDocumentTypes) {
  flex: 2
}

:local(.cardImages) {
  display: flex;
}

:local(.cardImages) h4 {
  margin-bottom: 7px
}

:local(.cardImages) img {
  width: 282px;
  max-width: 100%;
}

:local(.cardImages) > *:not(:last-child) {
  margin-right: 43px;
}

:local(.documentFields) li {
  display: flex;
  align-items: baseline;
  word-wrap: break-word;
}

:local(.documentFields) h4 {
  flex: 1
}

:local(.documentFields) strong {
  flex: 5
}

:local(.cardImages) {
  display: flex;
}

@media (max-width: 769px) {
  :local(.cardImages) {
    flex-wrap: wrap;
  }

  :local(.cardImages) > *:not(:last-child) {
    margin-right: 0;
  }

  :local(.documentFields) li {
    display: block;
  }

}