:local(.onboarding) {
  display: flex;
  width: 100%;
  min-height: 100%;
}

:local(.onboarding) section {
  margin-bottom: 38px;
}

:local(.content), :local(.sidebar) {
  flex: 1;
  padding: 28px 35px;
  width: 50%;
}

:local(.sidebar) {
  background: var(--mgi-secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 100px;
}

:local(.showIntegrationCodeButton) {
  margin-top: 63px;
  margin-bottom: 25px;
}

:local(.integrationCodeModal) {
  width: 800px;
  height: 500px;
}

:local(.matiButton) {
  padding-bottom: 25px;
}