:local(.content) > section {
  margin-bottom: 38px;
}

:local(.sidebar) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

:local(.showIntegrationCodeButton) {
  margin-top: 63px;
  margin-bottom: 25px;
}

:local(.integrationCodeModal) {
  min-width: 700px;
  min-height: 500px;
}

:local(.integrationCodeModal) main {
  padding: 0 45px;
}

:local(.matiButton) {
  padding-bottom: 25px;
}
