:local(.card) {
  padding: 30px;
  flex: 1;
  min-height: 465px;
}

:local(.card) button {
  cursor: not-allowed!important;
  border: 0;
  box-shadow: none!important;
  font-weight: bold;
}

:local(.card).starter button {
  background: #F2994A;
  color: white;
}

:local(.card).safety-pro {
  background: #00AB62;
  box-shadow: 0px 10px 20px rgba(98, 106, 112, 0.25);
  color: white;
}

:local(.card).safety-pro .text-secondary {
  color: white;
}

:local(.card).enterprise button {
  background: #47A8E8;
  color: white;
}

:local(.card):not(:last-of-type) {
  margin-right: 30px;
}

:local(.card) header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}

:local(.price) {
  display: flex;
  align-items: center;
  margin-top: 18px;
  text-align: center;
  margin-bottom: 8px;
}

:local(.price) em {
  margin-bottom: 0;
  padding-right: 6px;
  font-size: 36px;
  font-weight: bold;
}

:local(.price) .alternative {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

:local(.cardButton) {
  width: 100%;
}

:local(.features) {
  margin-top: 25px;
}

:local(.features) li {
  margin-bottom: 17px;
  padding-left: 23px;
  position: relative;
  line-height: 24px;
}

:local(.features) li strong {
  display: block;
  margin-bottom: 3px;
}

:local(.features) li:before {
  display: block;
  content: ' ';
  background: url('./check-blue.svg');
  width: 15px;
  height: 11px;
  position: absolute;
  top: 7px;
  left: 0;
}


:local(.card).safety-pro :local(.features) li:before {
  background: url('./check-white.svg');
}

:local(.cardsContainer) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}

:local(.detailsContainer) {
  display: flex;
  align-items: flex-start;
}

:local(.detailsContainer) > * {
  flex: 1;
}

:local(.detailsExtra) li {
  margin-bottom: 17px;
  padding-left: 23px;
  position: relative;
  line-height: 24px;
}

:local(.detailsExtra) li:before {
  display: block;
  content: ' ';
  background: url('./check-green.svg');
  width: 15px;
  height: 11px;
  position: absolute;
  top: 7px;
  left: 0;
}

:local(.detailsContainer) > *:not(:last-of-type) {
  margin-right: 30px;
}
