.sections {
  max-height: 100%;
  position: relative;
}

.codeBlock {
  overflow: auto;
  position: relative;
}

.copy {
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.content {
  max-height: 227px;
  overflow: scroll;
}