:local(.container) {
  box-shadow: var(--mgi-panel-shadow);
  border: 1px solid #dddddd;
  border-radius:  var(--mgi-panel-radius);
  overflow: auto;
}

:local(.copyToClipboard) {
  padding: 0 20px;
  background: rgb(247, 247, 250);
  text-align: right;
}

:local(.wrapper) {
  overflow-y: scroll;
}

:local(.wrapper) pre {
  margin: 0;
}
