:root {
  --mgi-theme-button-padding: 20px;
  --mgi-theme-button-height: 42px;
}

button {
  margin: 0;
}

:local(.button),
.mgi-btn-link {
  padding: 0 var(--mgi-theme-button-padding);

  height: var(--mgi-theme-button-height);
  line-height: var(--mgi-theme-button-height);
  outline: 0;
  font: inherit;
  font-size: 14px;
  border: 1px solid;
  border-radius: 4px;
  letter-spacing: 0.01em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

:local(.button).small {
  --mgi-theme-button-height: 36px;
  --mgi-theme-button-padding: 10px;
}

:local(.button).big {
  --mgi-theme-button-height: 60px;
  --mgi-theme-button-padding: 16px;
}

:local(.button).big svg:first-child {
  margin-right: calc(var(--mgi-theme-button-padding) / 2);
}

/* :local(.button) + :local(.button) {
  margin-left: calc(0.5 * var(--mgi-spacing));
} */

:local(.button):hover {
  cursor: pointer;
}

:local(.button).default {
  background: white;
  border-color: var(--mgi-theme-palette-lightgray);
}

:local(.button).link {
  background: transparent;
  border: 0;
  padding: 0;
  height: auto;
  line-height: inherit;
}

:local(.button) img:first-child,
:local(.button) .spinner-small:first-child,
:local(.button) svg:first-child {
  margin-right: 5px;
}

:local(.button) img:last-child,
:local(.button) .spinner-small:last-child,
:local(.button) svg:last-child {
  margin-left: 5px;
}

:local(.button).primary,
.mgi-btn-link.primary {
  background: var(--mgi-theme-palette-blue);
  color: white;
  font-weight: 300;
  border: none;
}

:local(.button).primary-revert {
  background: white;
  color: var(--mgi-theme-palette-blue);
  font-weight: 300;
  border: none;
}

:local(.button).outline {
  background: transparent;
  border: 1px solid var(--mgi-theme-palette-blue);
  color: var(--mgi-theme-palette-blue);
  font-weight: normal;
}
:local(.button).danger {
  background: var(--mgi-theme-palette-red);
  border: 1px solid var(--mgi-theme-palette-red);
  color: white;
  font-weight: normal;
}

:local(.button).no-borders.default {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

:local(.button).no-borders.primary {
  background: transparent;
  color: var(--mgi-theme-palette-blue);
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 400;
}

:local(.button).invisible {
  background: transparent;
  padding: 0;
  border: 0;
  height: auto;
  border-radius: 0;
}

:local(.button).invisible svg {
  margin: 0;
}

:local(.button)[disabled] {
  background: white;
  font-weight: normal;
  color: var(--mgi-theme-palette-secondary);
  cursor: default;
}
