
$tooltipBG: #3b4453;

.tooltip {
  position: absolute;
  transform: translate(-50%, calc(-100% - 1rem));
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background-color: $tooltipBG;
  color: var(--mgi-theme-palette-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  white-space: pre;

  // arrow
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-color: $tooltipBG transparent transparent transparent;
    border-width: 0.5rem 0.5rem 0 0.5rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
