:root {
  --mgi-toggle-height: 20px;
  --mgi-toggle-border: 2.5px;
  --mgi-toggle-active-color: var(--mgi-theme-palette-active);
  --mgi-toggle-color: var(--mgi-theme-palette-secondary);
  --mgi-toggle-handle-color: white;
}

:local(.toggle) {
  border: var(--mgi-toggle-border) solid var(--mgi-toggle-color);
  border-radius: var(--mgi-toggle-height);
  width: calc(2 * var(--mgi-toggle-height));
  height: var(--mgi-toggle-height);
  background: var(--mgi-toggle-color);
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:before {
    display: block;
    content: ' ';
    width: var(--mgi-toggle-height);
    height: var(--mgi-toggle-height);
    background: var(--mgi-toggle-handle-color);
    border-radius: 100%;
    position: absolute;
    transition: left 0.3s ease;
    top: 0;
    left: 0;
  }

  &:global(.checked) {
    border-color: var(--mgi-toggle-active-color);
    background: var(--mgi-toggle-active-color);
  }

  &:global(.checked):before {
    left: var(--mgi-toggle-height);
  }

  &:global(.disabled) {
    cursor: not-allowed;
  }
}
