:local(.input) {
  margin-bottom: 30px;
}

:local(.input + .validationError) {
  margin-bottom: 0;
}

:local(.input) label {
  font-size: 80%;
  padding-bottom: 10px;
  display: inline-block;
}

:local(.error) {
  font-size: 80%;
  padding-top: 2px;
  color: #EB5757;
  position: absolute;
}