:local(.input):not(:last-child) {
  margin-bottom: 20px;
}

:local(.input + .validationError) {
  margin-bottom: 0;
}

:local(.input) label {
  font-weight: 600;
  padding-bottom: 5px;
  display: inline-block;
}

:local(.error) {
  font-size: 80%;
  padding-top: 2px;
  color: var(--mgi-theme-palette-red);
  position: absolute;
}

:local(.singleDatePicker) {
  display: block;
}

:local(.singleDatePickerError) .SingleDatePickerInput__withBorder{
  border-color: var(--mgi-theme-palette-red) !important;
}
