:local(.input) {
  margin-bottom: 20px;
}

:local(.input + .validationError) {
  margin-bottom: 0;
}

:local(.input) label {
  font-size: var(--mgi-theme-font-size-small);
  font-weight: 600;
  padding-bottom: 5px;
  display: inline-block;
}

:local(.error) {
  font-size: 80%;
  padding-top: 2px;
  color: #eb5757;
  position: absolute;
}
