.checkSection {
  h2 {
    line-height: 3;
  }
}

.iconBox {
  outline: none;
  padding-left: 5px !important;
  &:hover {
    box-shadow: none !important;
  }
}
.biometricTitle {
  min-width: 140px;
  vertical-align: top;
}
.videoFrame {
  min-width: 233px;
}
.messageBox {
  min-width: 163px;
}