/* https://github.com/recharts/recharts/issues/861#issuecomment-328164626 */
.recharts-wrapper .recharts-cartesian-grid-vertical line:last-child,
.recharts-wrapper .recharts-cartesian-grid-vertical line:nth-last-child(2) {
  stroke-opacity: 0;
}

:local(.chartTooltipContainer) {
  border-radius: 4px;
  min-width: 160px; 
  font-size: 0.8rem;
  color: white;
  background-color: rgba(72, 84, 101, 0.9);
}

:local(.chartTooltipHeader) {
  padding: 0.3rem 0.9rem;
  text-align: center;
  border-bottom: 1px solid #667587;
}

:local(.chartTooltipContent) {
  padding: 0.3rem 0.9rem;
}
