:root {
  --mgi-flow-card-spacing: 15px;
  --mgi-flow-small-card-size: 50px;
  --mgi-document-type-card-width: 100px;
  --mgi-document-type-card-height: calc(var(--mgi-document-type-card-width) * 1.5);
}

.configure-flow-card {
  display: flex;
  flex-direction: column;
}

:local(.flowCard) {
  margin-right: var(--mgi-flow-card-spacing);
  margin-bottom: var(--mgi-flow-card-spacing);
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

:local(.flowCards) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: calc(-1 * var(--mgi-flow-card-spacing));
}

:local(.documentTypeCard) {
  width: var(--mgi-document-type-card-width);
  height: var(--mgi-document-type-card-height);
  padding: 5px;
}

:local(.documentTypeName) {
  margin-top: auto;
  min-height: 2.4em;
}

:local(.documentTypeCard) img {
  flex: 1;
}

:local(.documentTypeOptional) {
  font-size: 0.9rem;
  min-height: 1.5em;
}

:local(.documentTypeOptional) label:not([hidden]) {
  display: flex;
  align-items: center;
}

:local(.documentTypeOptional) input {
  margin: 0;
  margin-right: 1px;
  width: 0.9rem;
  height: 0.9rem;
}

:local(.colorCard) {
  width: var(--mgi-flow-small-card-size);
  height: var(--mgi-flow-small-card-size);
}

:local(.languageCard) {
  width: var(--mgi-flow-small-card-size);
  height: var(--mgi-flow-small-card-size);
}

:local(.languageCard) img {
  width: 28px;
}

:local(.watchlistCard) {
  width: var(--mgi-flow-small-card-size);
  height: var(--mgi-flow-small-card-size);
}

:local(.documentColorCardIcon) {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
:local(.documentColorCardIcon).card-icon-blue {
  background-color: #2196F3;
}

:local(.documentColorCardIcon).card-icon-green {
  background-color: #00B257;
}

:local(.documentColorCardIcon).card-icon-red {
  background-color: #EB5757;
}

:local(.documentColorCardIcon).card-icon-pink {
  background-color: #FF527E;
}

:local(.documentColorCardIcon).card-icon-orange {
  background-color: #F2994A;
}

:local(.documentColorCardIcon).card-icon-yellow {
  background-color: #FFBD00;
}

@media (max-width: 769px) {
  :root {
    --mgi-document-type-card-width: 90px;
    --mgi-flow-card-spacing: 12px;
    --mgi-flow-small-card-size: 45px;
  }
}