.configure-flow-card {
  min-height: 241px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

:local(.flowCard) {
  margin-right: 15px;
  margin-bottom: 10px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

:local(.flowCards) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -10px;
  min-height: 185px;
}

:local(.documentTypeCard) {
  justify-content: initial !important;
  width: 100px;
  height: 155px;
  padding-top: 30px;
}

:local(.documentTypeCard) img {
  margin-bottom: 15px;
}

:local(.colorCard) {
  width: 70px;
  height: 70px;
}

:local(.languageCard) {
  width: 70px;
  height: 70px;
}

:local(.languageCard) img {
  margin-bottom: 5px;
  width: 28px;
}

:local(.watchlistCard) {
  width: 80px;
  height: 80px;
}

:local(.documentColorCardIcon) {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-bottom: 5px;
}
:local(.documentColorCardIcon).card-icon-blue {
  background-color: #2196F3;
}

:local(.documentColorCardIcon).card-icon-green {
  background-color: #00B257;
}

:local(.documentColorCardIcon).card-icon-red {
  background-color: #EB5757;
}

:local(.documentColorCardIcon).card-icon-pink {
  background-color: #FF527E;
}

:local(.documentColorCardIcon).card-icon-orange {
  background-color: #F2994A;
}

:local(.documentColorCardIcon).card-icon-yellow {
  background-color: #FFBD00;
}

