:root {
  --mgi-theme-color-tab-background: #f5f9fc;
}

.tabs {
  &.stretched {
    & .react-tabs__tab-list {
      display: flex;
    }
    & .react-tabs__tab {
      flex-grow: 1;
    }
  }
  .react-tabs__tab-list {
    border-bottom: 1px solid var(--mgi-theme-palette-light);
  }
  .react-tabs__tab {
    padding: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    color: var(--mgi-theme-color-active);
    font-weight: 600;
    background-color: var(--mgi-theme-palette-lighter);
    &--selected {
      color: var(--mgi-theme-color-secondary);
      background-color: white;
      box-shadow: inset 0 -2px 0 #47a8e8;
    }
    
    // reset default styles
    border: none;
    border-radius: 0;
    outline: none;
    bottom: 0;
  }
  .react-tabs__tab:first-child {
    border-top-left-radius: 4px;
  }
  .react-tabs__tab:last-child {
    border-top-right-radius: 4px;
  }
  .react-tabs__tab + .react-tabs__tab {
    border-left: 1px solid var(--mgi-theme-palette-light);
  }
  .react-tabs__tab:focus:after {
    content: none;
  }
  .react-tabs__tab:focus {
    box-shadow: none;
  }
}
