:local(.fields) {
  margin: 0;
  padding: 0;
}

:local(.fields) li {
  display: flex;
  align-items: center;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

:local(.caption) {
  flex-basis: 135px;
  flex-shrink: 0;
}

:local(.icon) {
  margin-right: 10px;
}
