:root {
  --mgi-progress-steps-gray: #E3E3E3;
  --mgi-progress-steps-white: white;
  --mgi-progress-steps-black: black;
  --mgi-progress-steps-blue: #2196F3;
  --mgi-progress-steps-green: #00B257;
  --mgi-progress-steps-red: #EB5757;
  --mgi-progress-steps-pink: #FF527E;
  --mgi-progress-steps-orange: #F2994A;
  --mgi-progress-steps-yellow: #FFBD00;
  --mgi-progress-steps-size: 10px;
}

:local(.progressSteps) {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

:local(.circle) {
  width: var(--mgi-progress-steps-size);
  height: var(--mgi-progress-steps-size);
  border-radius: 50%;
  cursor: pointer;
}

:local(.circle:not(:last-of-type)) {
  margin-right: var(--mgi-progress-steps-size);
}

:local(.circle).gray {
  background-color: var(--mgi-progress-steps-gray);
}

:local(.circle).white {
  background-color: var(--mgi-progress-steps-white);
}

:local(.circle).black {
  background-color: var(--mgi-progress-steps-black);
}

:local(.circle).blue {
  background-color: var(--mgi-progress-steps-blue);
}

:local(.circle).green {
  background-color: var(--mgi-progress-steps-green);
}

:local(.circle).red {
  background-color: var(--mgi-progress-steps-red);
}

:local(.circle).pink {
  background-color: var(--mgi-progress-steps-pink);
}

:local(.circle).orange {
  background-color: var(--mgi-progress-steps-orange);
}

:local(.circle).yellow {
  background-color: var(--mgi-progress-steps-yellow);
}



:local(.circle).selected-gray {
  background-color: var(--mgi-progress-steps-gray);
}

:local(.circle).selected-white {
  background-color: var(--mgi-progress-steps-white);
}

:local(.circle).selected-black {
  background-color: var(--mgi-progress-steps-black);
}

:local(.circle).selected-blue {
  background-color: var(--mgi-progress-steps-blue);
}

:local(.circle).selected-green {
  background-color: var(--mgi-progress-steps-green);
}

:local(.circle).selected-red {
  background-color: var(--mgi-progress-steps-red);
}

:local(.circle).selected-pink {
  background-color: var(--mgi-progress-steps-pink);
}

:local(.circle).selected-orange {
  background-color: var(--mgi-progress-steps-orange);
}

:local(.circle).selected-yellow {
  background-color: var(--mgi-progress-steps-yellow);
}

