.checkSection {
  h2 {
    line-height: 3;
  }
}
.video {
  width: 230px;
  max-height: 306px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.biometricTitle {
  min-width: 140px;
  vertical-align: top;
}
.videoFrame {
  min-width: 233px;
}
.messageBox {
  min-width: 163px;
}
.borderRadius {
  border-radius: 4px;
}