:local(.panelContainer) {
  display: flex;
  align-items: center;
  p {
    color: grey;
    &.documentation {
      margin-top: 27px;
      color: black;
    }
  }
}

:local(.leftBlock) {
  width: 300px;
  margin-right: 20px;
}

:local(.rightBlock) {
  display: flex;
  align-items: center;
}

:local(.installationVideoImage) {
  &:hover {
    cursor: pointer;
  }
}
