:local(.colorPicker) {
  position: absolute;
}

:local(.colorPickerWrapper) {
  position: relative;
  margin-top: 20px;
}

:local(.colorPickerButton) {
  cursor: pointer;
}

:local(.colorPickerButton) path:not(:first-child) {
  stroke: none;
}

:local(.colorPickerButton) path:first-child {
  stroke: unset;
}
