:local(.colorPicker) {
  position: absolute;
}

.textBlock {
  margin-bottom: 10px;
}

.colorPickerContainer {
  display: flex;
  align-items: center;
  height: 45px;
}

:local(.colorPickerWrapper) {
  position: relative;
  margin: 0 10px 0 25px ;
}

:local(.colorPickerButton) {
  cursor: pointer;
}

:local(.colorPickerButton) path:not(:first-child) {
  stroke: none;
}

:local(.colorPickerButton) path:first-child {
  stroke: unset;
}
