:local(.layout) {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: white;
  /* justify-content: flex-end; */
}

:local(.layoutContent) {
  width: 505px;
  padding: var(--mgi-spacing);
  margin: 0 auto;
}

:local(.layoutBackground) {
  width: 33%;
  background: url('./sign-up-mati-tech.svg') no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 769px) {
  :local(.layoutContent) {
    width: 100%;
  }
}
