.modal {
  width: 410px;
  height: 235px;
  min-height: auto;
  header {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background: white;
  }
  main {
    padding-top: 0 !important;
  }
  footer {
    background: white;
    button {
      font-weight: 400 !important;
      width: 170px;
    }
  }
  header, footer, main {
    padding: 20px;
  }
}