:local(.status) {
  display: flex;
  align-items: center;

  i {
    margin-right: .25rem;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  &.manual i {
    background-color: var(--mgi-theme-palette-orange);
  }

  &.fraudulent i {
    background-color: var(--mgi-theme-palette-black);
  }

  &.inProgress i {
    background-color: var(--mgi-theme-palette-black);
  }

  &.unverified i {
    background-color: var(--mgi-theme-palette-red);
  }

  &.verified i {
    background-color: var(--mgi-theme-palette-green);
  }
}

:local(.coloredText) {
  &.manual {
    color: var(--mgi-theme-palette-orange);
  }

  &.fraudulent {
    color: var(--mgi-theme-palette-black);
  }

  &.inProgress {
    color: var(--mgi-theme-palette-black);
  }

  &.unverified {
    color: var(--mgi-theme-palette-red);
  }

  &.verified {
    color: var(--mgi-theme-palette-green);
  }
}