.debug {
  border: 1px solid red !important;
}

.text-light {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-error {
  color: var(--mgi-theme-palette-error);
}

.background-active {
  background: var(--mgi-theme-palette-active);
  --mgi-theme-palette-secondary: var(--mgi-theme-palette-lightgray);
  color: white;
}

.background-white {
  background-color: var(--mgi-theme-palette-white);
}

.background-disabled {
  background-color: var(--mgi-theme-palette-disabled);
}

.background-transparent {
  background-color: transparent;
}

.svg-active path {
  fill: var(--mgi-theme-palette-active);
}

[class*='border-']:not(.border-transparent) {
  border-style: solid;
  border-width: 1px;
}

.border-active {
  border-color: var(--mgi-theme-palette-active);
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '';
}
@keyframes dotty {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

.threedots:after {
  content: '...';
  margin: 0 3px;
}

.color-red {
  color: var(--mgi-theme-palette-lightred);
}

.color-blue {
  color: var(--mgi-theme-palette-azure);
}

#beamerLastPostTitle {
  position: absolute;
  will-change: transform;
  top: -29px !important;
  left: 0px;
  transform: translate3d(225px, 554px, 0px) !important;
}
#beamerLastPostTitle .popper__arrow {
  border-color: #fff;
  left: 2px;
  z-index: inherit;
  top: 25px !important;
  transform: rotate(180deg) !important;
  position: absolute;
}

