:local(.status) {
  display: flex;
  align-items: center;
}

:local(.coloredText) {
  &:global(.reviewNeeded) {
    color: var(--mgi-theme-palette-orange);
  }

  &:global(.rejected) {
    color: var(--mgi-theme-palette-red);
  }

  &:global(.pending) {
    color: var(--mgi-theme-palette-darkgray);
  }

  &:global(.verified) {
    color: var(--mgi-theme-palette-green);
  }
}
