:local(.googlePlay) {
  display: flex;
  justify-content: center;
  img {
    width: 154px;
    height: 45px;
  }
}

:local(.clientId) {
  background: var(--mgi-theme-palette-lightergray);
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 600;
}
