.googlePlay {
  display: flex;
  justify-content: left;

  img {
    width: 154px;
    height: 45px;
  }
}

.title {
  line-height: 25px;
}

.demoWrapper {
  p {
    color: var(--mgi-theme-palette-secondary);
  }
}
