.switcher {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    .left, .right {
        width: 200px;
        height: 50px;
        border-color: var(--mgi-theme-palette-blue);
    }

    .left {
        border-radius: 4px 0 0 4px;
    }

    .right {
        border-radius: 0 4px 4px 0;
    }

    .active {
        color: var(--mgi-theme-palette-blue);
        text-decoration: underline;
    }
}
