.text {
  font-size: 16px;
  line-height: 19px;
}

.amountText {
  margin-top: 10px;
}

.calendarIcon {
  position: relative;
  margin-left: 166px;
  top: -28px;
  z-index: 5;
  left: 0;
}

.noDataLabel {
  font-size: 1.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
