:local(.itemWrapper) {
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  user-select: none;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  margin-bottom: 20px;

  @media (min-width: 1280px) {
    flex-direction: column;
    padding-left: 70px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    margin-top: 8px;
  }
}

:local(.itemDescriptionWrapper) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 195px;

  @media (min-width: 1280px) {
    max-width: none;
    margin-top: 10px;
  }
}

:local(.img) {
  @media (min-width: 1280px) {
    position: absolute;
    left: 20px;
    top: 0;
  }
}

:local(.itemDescription) {
  max-width: 145px;
  font-size: 14px;
  font-weight: 400;
  color: #8392B8;

  @media (min-width: 1280px) {
    max-width: none;
  }
}

:local(.itemWrapper input) {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

:local(.checkmark) {
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #8392B8;
  border-radius: 50%;
}

/* When the radio button is checked */
:local(.itemWrapper input:checked + .checkmark) {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%);
    background-color: #8392B8;
    border-radius: 50%;
  }
}
