:root {
  --mgi-card-border: 1px solid;
  --mgi-card-padding: 13px;
  --mgi-card-border-color-gray: #E3E3E3;
  --mgi-card-border-color-white: white;
  --mgi-card-border-color-black: black;
  --mgi-card-border-color-blue: #2196F3;
  --mgi-card-border-color-green: #00B257;
  --mgi-card-border-color-red: #EB5757;
  --mgi-card-border-color-pink: #FF527E;
  --mgi-card-border-color-orange: #F2994A;
  --mgi-card-border-color-yellow: #FFBD00;

}

:local(.card) {
  border: var(--mgi-card-border);
  background-color: transparent;
  /* padding: var(--mgi-card-padding); */
  border-radius: 5px;
}

:local(.card).default {
  border-color: var(--mgi-card-border-color-gray);
}

:local(.card).black {
  border-color: var(--mgi-card-border-color-black);
}

:local(.card).blue {
  border-color: var(--mgi-card-border-color-blue);
}

:local(.card).green {
  border-color: var(--mgi-card-border-color-green);
}

:local(.card).red {
  border-color: var(--mgi-card-border-color-red);
}

:local(.card).pink {
  border-color: var(--mgi-card-border-color-pink);
}

:local(.card).orange {
  border-color: var(--mgi-card-border-color-orange);
}

:local(.card).yellow {
  border-color: var(--mgi-card-border-color-yellow);
}

:local(.card).selected {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-color: var(--mgi-card-border-color-blue);
}

:local(.card).white {
  border-color: var(--mgi-card-border-color-white);
}

:local(.divForWhiteBorder) {
  background-color: white;
}