:local(.root) {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;

  &:not(.inline) {
    display: grid;
  }

  &.inline {
    display: inline-grid;
  }

  @each $gap in (0, 1, 2, 3, 4) {
    &[data-gap='#{$gap}'] {
      grid-gap: calc(0.5 * #{$gap} * var(--mgi-spacing));
    }
  }

  & > svg {
    width: 100%;
    height: auto;
  }
}
