.statistic {
  margin-top: 2rem;
}

.block {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.blockVertical {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.title {
  font-size: 16px;
  line-height: 19px;
  width: 100px;
  margin-left: 15px;
  margin-top: 2px;
}

