:root {
  --mgi-modal-header-font-size: 22px;
}

:local(.overlay) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(49, 53, 65, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mgi-spacing);
}

:local(.window) {
  background: white;
  width: 600px;
  max-width: 100%;
  min-height: 360px;
  max-height: calc(100vh - 40px);
  overflow: auto;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
:local(.window) > main {
  flex: 1
}

:local(.window) > header, :local(.window) > footer {
  background: #f7f9fc;
  padding: var(--mgi-spacing);
}

:local(.window) > header {
  margin: calc(-1 * var(--mgi-spacing));
  margin-bottom: var(--mgi-spacing);
  text-align: center;
  font-size: var(--mgi-modal-header-font-size);
}

:local(.window) > footer {
  margin: calc(-1 * var(--mgi-spacing));
  margin-top: var(--mgi-spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:local(.window) > footer.modal--footer-transparent {
  background: transparent;
}

:local(.window) > footer.modal--footer-center {
  justify-content: center;
}

:local(.closeButton) {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background: url('../../assets/icon-close.svg');
  cursor: pointer;
  padding: 0;
  border: 0;
}

@media (max-width: 769px) {
  :root {
    --mgi-modal-header-font-size: 16px;
  }
}