.fullAreaRoot {
  position: relative;
}

.fullAreaBackground {
  filter: blur(4px);
  user-select: none;
  cursor: default;
}

.fullArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
