:local(.trialPlanPanelImage) {
  display: flex;
  align-self: center;
  justify-content: center;
}

:local(.pricingHeader) {
  display: flex;
  align-items: baseline;

  small {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.6;
  }
}

:local(.companyPlanLink) {
  align-self: center;
}
