:local(.trialPlanPanel) {
  min-height: 230px;
}

:local(.trialPlanPanelImage) {
  display: flex;
  align-self: center;
  justify-content: center;
}

:local(.pricingHeader) {
  display: flex;
  align-items: baseline;

  small {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.6;
  }
}

:local(.companyPlan) {
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
  }
}

:local(.companyPlanLink) {
  align-self: center;
}
