:local(.content) {
  background: white;
  width: 500px;
  min-width: auto;
  border-right: 1px solid var(--mgi-theme-palette-lightgray);
}

:local(.sidebar) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  max-height: calc(100vh - var(--mgi-application-box-menu-height));
  margin: 0 auto;
}

:local(.sidebarIcon) {
  text-align: center;
}

:local(.helpButtons) {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: center;
}

:local(.helpButtons) > *:not(:last-child) {
  margin-bottom: calc(0.5 * var(--mgi-spacing));
}

:local(.onboardingVideoLink) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7c93;
}

:local(.matiButtonConfiguration) {
  display: flex;
  justify-content: center;
}

:local(.matiButtonHint) {
  padding-top: 1rem;
  text-align: center;
  color: var(--mgi-theme-palette-secondary);
}

:local(.matiButton) {
  padding-bottom: 25px;
}

:local(.matiMobileButton) .mati-button,
:local(.matiMobileButton) .mati-container {
  min-width: inherit !important;
  width: 100%;
}

:local(.mobileShowIntegration) {
  width: 100%;
  margin-bottom: calc(2 * var(--mgi-spacing));
}
