:local(.form) {
  display: flex;
}

:local(.searchField) {
  margin-bottom: 0;
}

:local(.filtersControl) {
  margin-left: var(--mgi-spacing)
}

:local(.datePicker) {
  .CalendarMonth_caption {
    padding-bottom: 50px;
  }
}