:local(.fields) {

  padding: 0;
}

:local(.fields) li {
  display: flex;
  align-items: center;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

:local(.caption) {
  flex-basis: 135px;
  flex-shrink: 0;
}

:local(.textEditableWrapper) {
  display: block;
  width: 100%;
}

:local(.textEditableText) {
  height: auto;
  font-size: 1rem;
  padding-left: 0;
  word-break: break-word;
}

:local(.textEditableInput) {
  font-size: 1rem;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

:local(.icon) {
  margin-right: 10px;
}
