:local(.okButton) {
  position: absolute;
  right: 3px;
  height: 34px;
  top: 0;
  bottom: 0;
  margin: auto;
}

:local(.inputWrapper) {
  position: relative;
}

:local(.textWrapper) {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: text;
  padding-right: 30px;
}

:local(.textEditable) {
  padding-right: 70px;
}

:local(.editIcon) {
  position: absolute;
  right: 0;
  height: 15px;
  width: 30px;
}