:local(.okButton) {
  position: absolute;
  right: 3px;
  height: 22px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
  padding: 0 10px;
}

:local(.inputWrapper) {
  position: relative;
}

:local(.textWrapper) {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: text;
  padding-right: 30px;
}

:local(.textEditable) {
  outline: 0;
  padding-right: 45px;
}

:local(.editIcon),
:local(.spinner) {
  position: absolute;
  height: 12px;
  width: 30px;
}

:local(.editIcon) {
  right: 0;
}

:local(.spinner) {
  right: 9px;
}