:root {
  --mgi-checkbox-size: 1.125rem;
}

:local(.checkbox) {
  display: inline-block;
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + :local(.checkboxIcon) {
    background: var(--mgi-theme-palette-blue);
    border-color: var(--mgi-theme-palette-blue);
  }
  input[type='checkbox']:disabled + :local(.checkboxIcon) {
    background: var(--mgi-theme-palette-lightergray);
  }
}

:local(.checkbox) + :local(.checkbox) {
  margin-left: 2rem;
}

:local(.checkboxLabel) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

:local(.checkboxTitle) {
  margin-left: 0.8rem;
  line-height: var(--mgi-checkbox-size);
}

:local(.checkboxIcon) {
  border-radius: 2px;
  border: 1px solid #dfe6ee;
  width: 18px;
  height: 18px;
  background: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: flex-start;
}
