:local(.checkboxGroup) {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
}

:local(.checkboxGroupLabel) {
  margin-bottom: 0.875rem;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0;
  color: var(--mgi-theme-palette-default);
  text-transform: uppercase;
}

:local(.checkboxGroupItem) {
  margin-bottom: var(--mgi-spacing-l);
}
