:local(.testWebhookContainer) .test-webhook-card {
  margin-bottom: 15px;
}

:local(.testWebhookContainer) .test-webhook-card-info {
  width: 100%;
  height: 55px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

:local(.testWebhookContainer) .test-webhook-card .test-webhook-card-types {
  min-width: 40%;
  flex: 2
}

:local(.testWebhookContainer) .test-webhook-card .test-webhook-card-name {
  flex: 1
}

:local(.testWebhookContainer) .test-webhook-card .test-webhook-card-details {
  width: 100%;
  padding: 15px 20px 15px 20px;
}

:local(.testWebhookContainer) .test-webhook-card-details-pictures {
  display: flex;
  flex-wrap: wrap;
  margin-right: -45px;
}

:local(.testWebhookContainer) .test-webhook-card-details-picture {
  width: 50%;
  padding-right: 45px;
  padding-bottom: 24px;
}

:local(.testWebhookContainer) .test-webhook-card-details-picture img {
  width: 100%;
}

:local(.testWebhookContainer) .test-webhook-card-details pre  {
  max-width: 100%;
}

:local(.testWebhookContainer) .test-webhook-card-details-picture .text-caption {
  padding-bottom: 7px;
}

:local(.testWebhookContainer) .test-webhook-card-expand {
  padding-right: 15px;
  cursor: pointer;
}

:local(.faceMatchStatus) {
  font-size: 11px;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}