:local(.legendItem) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:local(.legendItemLabel) {
  &:before {
    display: inline-block;
    content: ' ';
    margin-right: .25rem;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  &.blue:before {
    background-color: var(--mgi-theme-palette-blue);
  }

  &.green:before {
    background-color: var(--mgi-theme-palette-green);
  }

  &.orange:before {
    background-color: var(--mgi-theme-palette-orange);
  }
}