fieldset.mgi-fieldset {
  padding: 0;
  border: 0;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  fieldset.mgi-fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  legend {
    padding: 0;
    margin-bottom: 8px;
    width: 100%;
  }

  > :not(legend) {
    margin-left: 14px;
  }

  &.no-left-margin > * {
    margin-left: 0;
  }
}
