.text-light {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-secondary {
  color: var(--mgi-theme-palette-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-wrap {
  word-break: break-all;
}

.text-active {
  color: var(--mgi-theme-palette-active);
}

.text-success {
  color: var(--mgi-theme-palette-success);
}

.text-warning {
  color: var(--mgi-theme-palette-warning);
}

.text-error {
  color: var(--mgi-theme-palette-error);
}

.text-darkpink {
  color: var(--mgi-theme-palette-darkpink);
}

.text-apricot {
  color: var(--mgi-theme-palette-apricot);
}

.text-darkapricot {
  color: var(--mgi-theme-palette-darkapricot);
}

.text-large {
  font-size: 16px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.background-active {
  background: var(--mgi-theme-palette-active) !important;
}

.background-success {
  background-color: var(--mgi-theme-palette-success) !important;
}

.background-warning {
  background-color: var(--mgi-theme-palette-warning) !important;
}

.background-error {
  background-color: var(--mgi-theme-palette-error) !important;
}

.background-pink {
  background-color: var(--mgi-theme-palette-pink) !important;
}

.background-softpink {
  background-color: var(--mgi-theme-palette-softpink) !important;
}

.background-apricot {
  background-color: var(--mgi-theme-palette-apricot) !important;
}

.background-darkapricot {
  background-color: var(--mgi-theme-palette-darkapricot) !important;
}

.background-transparent {
  background-color: transparent !important;
}

.background-active,
.background-success,
.background-warning,
.background-error {
  --mgi-theme-palette-secondary: var(--mgi-theme-palette-lightgray);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-secondary path {
  fill: var(--mgi-theme-palette-secondary);
}

.svg-active path {
  fill: var(--mgi-theme-palette-active);
}

.svg-success path {
  fill: var(--mgi-theme-palette-success);
}

.svg-warning path {
  fill: var(--mgi-theme-palette-warning);
}

.svg-error path {
  fill: var(--mgi-theme-palette-error);
}

.cursor-pointer {
  cursor: pointer;
}
