.text-light {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-secondary {
  color: var(--mgi-theme-palette-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-wrap {
  word-break: break-all;
}

.text-active {
  color: var(--mgi-theme-palette-active);
}

.text-success {
  color: var(--mgi-theme-palette-success);
}

.text-warning {
  color: var(--mgi-theme-palette-warning);
}

.text-error {
  color: var(--mgi-theme-palette-error);
}

.text-large {
  font-size: 16px;
}

.svg-secondary path {
  fill: var(--mgi-theme-palette-secondary);
}

.svg-active path {
  fill: var(--mgi-theme-palette-active);
}

.svg-success path {
  fill: var(--mgi-theme-palette-success);
}

.svg-warning path {
  fill: var(--mgi-theme-palette-warning);
}

.svg-error path {
  fill: var(--mgi-theme-palette-error);
}
