ul.mgi-list {
  list-style-type: none;

  li {
    line-height: 2;
  }

  &--check,
  &--check-inverted {
    li {
      line-height: 2;
      padding-left: 30px;
      margin-bottom: 8px;
      background-repeat: no-repeat;
      background-position: left 0.5rem;
    }
  }

  &--check li {
    background-image: url('./list-style-check-green.svg');
  }

  &--check-inverted li {
    background-image: url('./list-style-check-inverted.svg');
  }
}

ol.mgi-list {
  counter-reset: section;
  li {
    counter-increment: section;
    &::before {
      content: counter(section) '.';
      display: inline;
      padding-right: 0.5em;
      font-weight: bold;
    }
    &:not(:last-child) {
      margin-bottom: calc(var(--mgi-spacing) * 0.25);
    }
  }
}
