@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');
@import './variables.scss';
@import './elements.scss';
@import './helpers.scss';
@import './fieldsets.scss';
@import './sections.scss';
@import './tables.scss';
@import './lists.scss';

section.mgi-section-separated {
  margin-bottom: calc(1.5 * var(--mgi-spacing));
}

.mgi-items {
  display: flex;
  justify-content: start;
  align-items: flex-start;

  // 12-cols grid
  $cols: 12;
  @for $i from 1 through $cols {
    &--col-#{$i} {
      width: $i/$cols * 100%;
    }
  }

  // inline
  &--inline {
    display: inline-flex;
  }

  // stretch
  &.stretch {
    align-items: stretch;
  }
}

.mgi-items .mgi-items--grow {
  flex: 1;
}

.mgi-items > *:not(:last-child) {
  margin-right: var(--mgi-theme-items-gutter);
}

.mgi-items--centered {
  align-items: center;
}

.mgi-items--narrow {
  --mgi-theme-items-gutter: calc(0.5 * var(--mgi-spacing));
}
