.mgi-table {
  width: 100%;
  border-spacing: 0;

  caption {
    @extend .text-secondary;
    text-align: left;
    caption-side: bottom;
  }

  td,
  th {
    padding: 0;
    vertical-align: top;

    &:not(:last-child) {
      padding-right: var(--mgi-spacing);
    }
  }

  th {
    text-align: left;
    font-weight: 700;
  }

  tr:not(:last-of-type) {
    td,
    th {
      padding-bottom: 10px;
    }
  }
}
