:root {
  --mgi-spacing: 20px;
  --mgi-spacing-l: 0.875rem;

  --mgi-theme-palette-black: #242424;
  --mgi-theme-palette-gray: #818181;
  --mgi-theme-palette-darkgray: #343434;
  --mgi-theme-palette-darkergray: #242424;
  --mgi-theme-palette-lightgray: #dcdcdc;
  --mgi-theme-palette-lightergray: #f4f5f6;
  --mgi-theme-palette-blue: #3757ff;
  --mgi-theme-palette-lightblue: #47a8e8;
  --mgi-theme-palette-lighterblue: #ebeeff;
  --mgi-theme-palette-green: #00ab62;
  --mgi-theme-palette-mint: #46cda4;
  --mgi-theme-palette-lightgreen: #42d76c;
  --mgi-theme-palette-red: #ff3535;
  --mgi-theme-palette-pink: #ff527e;
  --mgi-theme-palette-softpink: #f9d9eb;
  --mgi-theme-palette-darkpink: #9e6183;
  --mgi-theme-palette-orange: #f2994a;
  --mgi-theme-palette-yellow: #ffbd00;
  --mgi-theme-palette-apricot: #fcf0e3;
  --mgi-theme-palette-darkapricot: #d5a775;
  --mgi-theme-palette-pistachio: #e4f6b2;

  --mgi-theme-palette-default: var(--mgi-theme-palette-black);
  --mgi-theme-palette-secondary: var(--mgi-theme-palette-gray);
  --mgi-theme-palette-disabled: var(--mgi-theme-palette-lightgray);
  --mgi-theme-palette-active: var(--mgi-theme-palette-blue);
  --mgi-theme-palette-active-alternate: var(--mgi-theme-palette-mint);
  --mgi-theme-palette-success: var(--mgi-theme-palette-green);
  --mgi-theme-palette-warning: var(--mgi-theme-palette-orange);
  --mgi-theme-palette-error: var(--mgi-theme-palette-red);

  --mgi-theme-font-size: 14px;
  --mgi-theme-caption-font-size: 12px;
  --mgi-theme-items-gutter: var(--mgi-spacing);
}
