.block {
  height: 150px;
}

.request {
  position: relative;
}

.request::after {
  content: " ";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("./phone.png");
  background-repeat: no-repeat;
  background-position: 27px 20px;
}
.button {
  z-index: 123;
}