:root {
  --mgi-table-row-height: 50px;
}

:local(.wrapper) {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

:local(.table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    height: var(--mgi-table-row-height);
    vertical-align: middle;
    padding: 0 var(--mgi-spacing);

    &.mgi-data-table_align-right {
      text-align: right;
    }

    &.mgi-data-table_align-center {
      text-align: center;
    }
  }

  td {
    &.mgi-data-table_align-right {
      text-align: right;
    }

    &.mgi-data-table_align-center {
      text-align: center;
    }
  }

  thead tr,
  tbody tr:not(:last-of-type) {
    border-bottom: 1px solid var(--mgi-theme-palette-lightgray);
  }

  thead {
    th {
      text-align: left;
      font-weight: 600;
      height: calc(0.75 * var(--mgi-table-row-height));
    }
  }

  tbody {
    tr:hover {
      background-color: var(--mgi-theme-palette-lightergray);
    }
  }
}

:local(.borderAround) {
  border: 1px solid var(--mgi-theme-palette-lightgray);

  td,
  th {
    &:not(:last-child) {
      border-right: 1px solid var(--mgi-theme-palette-lightgray);
    }
  }

  thead th {
    height: var(--mgi-table-row-height);
    background: var(--mgi-theme-palette-lightergray);
  }
}

:local(.clickable) {
  cursor: pointer;
  label {
    cursor: pointer;
  }
}

:local(.tableEmptyBody) {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  align-items: center;
  justify-content: center;

  font-size: 1.125rem;
  color: var(--mgi-theme-palette-secondary);
}


:local(.preloader) {
  text-align: center;
  padding: var(--mgi-spacing);
}