:root {
  --mgi-table-row-height: 50px;
}

:local(.table) {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    height: var(--mgi-table-row-height);
    padding: 0 var(--mgi-spacing);
    vertical-align: middle;
  }

  thead {
    th {
      text-align: left;
      font-weight: 600;
      height: calc(0.75 * var(--mgi-table-row-height));
    }

    tr {
      border-bottom: 2px solid var(--mgi-theme-palette-lightgray);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--mgi-theme-palette-lightgray);
    }

    tr:hover {
      background-color: var(--mgi-theme-palette-lightergray);
    }
  }
}

:local(.tableEmptyBody) {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  align-items: center;
  justify-content: center;

  font-size: 1.125rem;
  color: var(--mgi-theme-palette-secondary);
}
