:local(.pageContentLayout) {
  --mgi-page-content-layout-menu-width: 170px;
  --mgi-page-content-layout-aside-width: 300px;
  display: flex;
  width: 100%;

  > nav {
    display: flex;
    flex-direction: column;
    width: var(--mgi-page-content-layout-menu-width);
    margin-right: var(--mgi-spacing);

    > * {
      padding: calc(var(--mgi-spacing) * 0.5) var(--mgi-spacing);
      color: inherit;
      white-space: nowrap;
      background: transparent !important;
      justify-content: flex-start;
      border: 0;
    }

    > .active {
      font-weight: bold;
      color: var(--mgi-theme-palette-active);
      background: var(--mgi-theme-palette-lighterblue) !important;
      border-radius: 4px;
    }
  }

  > main {
    flex: 1;
    margin-right: var(--mgi-spacing);
    max-width: calc(100% - var(--mgi-page-content-layout-aside-width) - var(--mgi-spacing));
  }

  > nav + main {
    max-width: calc(
      100% - var(--mgi-page-content-layout-menu-width) - var(--mgi-page-content-layout-aside-width) -
        calc(2 * var(--mgi-spacing))
    );
  }

  > aside {
    width: var(--mgi-page-content-layout-aside-width);
  }
}
