.marginBlock {
  margin-top: 15px;
}

.marginLeft {
  margin-left: 14px;
}

.docWrapperMany, .docWrapper {
  .child {
    width: 305px;
    height: 49px;
    border: 1px solid var(--mgi-theme-palette-lightgray);
    box-sizing: border-box;
    border-radius: 4px;

    span {
      padding-left: 10px;
      font-size: 16px;
      line-height: 49px;
      color: var(--mgi-theme-palette-darkergray);
    }
  }
}

.docWrapperMany {
  .child {
    border-radius: 0;
    border-bottom: none;
  }

  > div:first-child {
    .child {
      border-radius: 4px 4px 0 0;
    }
  }

  > div:last-child {
     .child {
       border: 1px solid var(--mgi-theme-palette-lightgray);
       border-radius:  0 0 4px 4px;
     }
   }
}

.newStep {
  border: none;
  color: var(--mgi-theme-palette-blue);
  text-decoration: underline;
  margin-left: 0;
  padding-left: 0;
}

.docTitle {
  margin-bottom: 5px;
  margin-left: 0;
  color: var(--mgi-theme-palette-darkergray);
}

.verificationSteps {
  .verificationInfo {
    margin-top: 20px;

    > div:first-child {
      margin-top: 40px;
    }
  }
}
