:local(.documentPanel) {
  display: flex;
  flex-direction: column;
}

:local(.documentPanelBody) {
  flex: 1
}

:local(.details) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--mgi-panel-spacing);
}

:local(.details) > :nth-child(1) {
  grid-column: 1 / 3;
}
