/* reset.css from https://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700');

:root {
  --mgi-spacing: 1.5rem;
  --mgi-theme-palette-lighter: #fafbfc;
  --mgi-theme-palette-light: #DFE6EE;
  --mgi-theme-palette-neutral: #95A6BB;
  --mgi-theme-palette-blue: #47A8E8;
  --mgi-theme-palette-green: #00AB62;
  --mgi-theme-palette-red: #EB5757;
  --mgi-theme-palette-pink: #FF527E;
  --mgi-theme-palette-orange: #F2994A;
  --mgi-theme-palette-yellow: #FFBD00;
  --mgi-theme-font-size: 16px;
  --mgi-theme-font-size-small: 14px;
  --mgi-theme-color-primary: #34495E;
  --mgi-theme-color-secondary: #747F8A;
  --mgi-theme-color-active: #47A8E8;
  --mgi-theme-caption-font-size: 12px;
  --mgi-theme-items-gutter: var(--mgi-spacing)
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%
}

html {
  color: var(--mgi-theme-color-primary);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--mgi-theme-font-size);
}

body {
  line-height: 1.6;
}

/* Move the rest of this file to the mgi theme */

img {
  display: flex;
}

p:not(:last-child) {
  margin-bottom: 0.8em;
}

small {
  font-size: var(--mgi-theme-font-size-small);
  line-height: 1.5em;
}

strong {
  font-weight: 600;
}

.text-secondary {
  color: var(--mgi-theme-color-secondary);
}

.text-info {
  color: #47A8E8;
}

.text-success {
  color: #00B257;
}

.text-failure {
  color: #EB5757;
}

.text-warning {
  color: var(--mgi-theme-palette-orange);
}

.text-caption {
  text-transform: uppercase;
  font-size: var(--mgi-theme-caption-font-size);
  font-weight: 500;
  /* keep it same as <small> */
  line-height: 1.35rem;
  letter-spacing: 0.5px;
}

.text-center {
  text-align: center;
}

a {
  color: #47A8E8;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: var(--mgi-spacing);
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 small,
h3 small {
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2;
}

h4 {
  line-height: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

h1 p, h2 p, h3 p, h4 p {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

h5 {
  font-size: var(--mgi-theme-font-size-small);
  font-weight: 600;
  margin-bottom: .5rem;
}

section.mgi-section-separated {
  margin-bottom: calc(1.5 * var(--mgi-spacing));
}

.mgi-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--mgi-theme-items-gutter));
  margin-bottom: calc(-1 * var(--mgi-theme-items-gutter));
  justify-content: start;
}

.mgi-items > * {
  margin-right: var(--mgi-theme-items-gutter);
  margin-bottom: var(--mgi-theme-items-gutter);
}

.mgi-items--centered {
  align-items: center;
}

@media (max-width: 769px) {
  :root {
    --mgi-theme-font-size: 15px;
    --mgi-theme-caption-font-size: 11px;
    --mgi-spacing: 1rem;
  }
}
