/* reset.css from https://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

/* Move the rest of this file to the mgi theme */

p {
  margin-bottom: 25px;
}

.text-secondary {
  color: #909090;
}

.text-caption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #2196F3;
  text-decoration: none;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 600;
}

h2 small,
h3 small {
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2;
}

p {
  margin-bottom: 15px;
}