/* reset.css from https://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

:root {
  --mgi-theme-font-size: 18px;
  --mgi-theme-font-size-small: 14px;
  --mgi-theme-color-secondary: #909090;
  --mgi-theme-color-active: #47A8E8;
  --mgi-spacing: 1.66rem;
  --mgi-theme-caption-font-size: 12px;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%
}

html {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: var(--mgi-theme-font-size);
}

body {
  line-height: 1.6;
}

/* Move the rest of this file to the mgi theme */

img {
  display: flex;
}

p {
  margin-bottom: 0.8em;
}

small {
  font-size: var(--mgi-theme-font-size-small);
  line-height: 1.5em;
}

strong {
  font-weight: 700;
}

.text-secondary {
  color: var(--mgi-theme-color-secondary);
}

.text-info {
  color: #47A8E8;
}

.text-success {
  color: #00B257;
}

.text-failure {
  color: #EB5757;
}

.text-caption {
  text-transform: uppercase;
  font-size: var(--mgi-theme-caption-font-size);
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: #47A8E8;
  text-decoration: none;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 small,
h3 small {
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 2;
}

section.mgi-section-separated {
  margin-bottom: 0;
  padding-bottom: var(--mgi-spacing);
}

section.mgi-section-separated:not(:first-of-type) {
  padding-top: var(--mgi-spacing);
}

section.mgi-section-separated:not(:last-of-type) {
  border-bottom: 1px solid #E3E3E3;
}

@media (max-width: 769px) {
  :root {
    --mgi-theme-font-size: 15px;
    --mgi-theme-caption-font-size: 11px;
    --mgi-spacing: 1rem;
  }
}