:local(.card) {
  margin-bottom: 15px;
}

:local(.cardInfo) {
  width: 100%;
  height: 55px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

:local(.carret) {
  padding-right: 15px;
  cursor: pointer;
}

:local(.details) {
  width: 100%;
  padding: 5px 20px 20px;
}

:local(.details).secondary-section {
  background: #F7F7FA;
  padding-top: 15px;
}

:local(.legend) {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 15px;
  margin-top: -23px;
  margin-bottom: 15px;
}

:local(.legend) span {
  padding: 0 20px;
}

:local(.legend):before, :local(.legend):after {
  flex: 1;
  content: ' ';
  display: block;
  border-top: 1px solid #E3E3E3;
}