:local(.container) {
  font-weight: 400;
}

:local(.dropdownContent) {
  padding: 5px 0;
}

:local(.dropdownList) {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

:local(.dropdownItem) {
  padding: 0 var(--mgi-spacing);
  height: var(--mgi-item-nested-height);
  line-height: var(--mgi-item-nested-height);
  cursor: pointer;
}

:local(.dropdownItem):hover {
  background: var(--mgi-theme-palette-lighterblue);
}

:local(.statusText) {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

:local(.changeText) {
  font-size: 1rem;
  color: var(--mgi-theme-palette-darkgray);
  cursor: pointer;
}

:local(.activeStatusLabel) {
  display: inline-block;
  margin-right: 5px;
  font-size: 1rem;
}