:local(.textField) {
  border: 1px solid #CBD4DC;
  border-radius: 4px;
  height: 42px;
  line-height: 42px;
  font: inherit;
  font-size: 15px;
  width: 100%;
  padding: 0 12px;
  color: #393939;
}

:local(.error) {
  border-color: var(--mgi-theme-palette-red);
}
