:root {
  --mgi-application-box-max-content-width: 1300px;
  --mgi-application-box-min-content-width: 900px;
}

:local(.box) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:local(.contentWrapper) {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  display: flex;
}

:local(.content) {
  padding: var(--mgi-spacing) calc(var(--mgi-spacing) * 2);
  z-index: 1;
  position: relative;
}

:local(.content).fullwidth {
  flex-grow: 1;
  max-width: var(--mgi-application-box-max-content-width);
  min-width: var(--mgi-application-box-min-content-width);
  margin: 0 auto;
}
