:local(.countryItem) {
  color: var(--mgi-theme-palette-blue);
  background-color: var(--mgi-theme-palette-lighterblue);
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

.action {
  border: none;
  color: var(--mgi-theme-palette-blue);
  text-decoration: underline;
  margin-left: 0;
  padding-left: 0;
}

.description {
  margin: 10px 20px 40px 0;
}
