:local(.searchField) {
  margin-bottom: var(--mgi-spacing);
  max-width: 400px;
  margin-top: 30px;
}

:local(.filtersPanel) {
  margin-bottom: var(--mgi-spacing);
}

:local(.deleteIdentity) {
  display: inline-block;
  width: 35px;
  padding: 10px;
  svg {
    width: 13px;
    height: 13px;
  }
  &:hover {
    filter: brightness(40%);
  }
}

:local(.rightPanel) {
  width: 312px;
  flex-shrink: 0;
}
