:local(.searchField) {
  margin-bottom: var(--mgi-spacing);
  max-width: 400px;
  margin-top: 30px;
}

:local(.verification-actionNeeded) {
  color: var(--mgi-theme-palette-orange);
}

:local(.verification-rejected) {
  color: var(--mgi-theme-palette-red);
}

:local(.verification-verified) {
  color: var(--mgi-theme-palette-green);
}

:local(.verification-pending) {
  color: var(--mgi-theme-palette-gray);
}

:local(.deleteIdentity) {
  display: inline-block;
  width: 35px;
  padding: 10px;
  svg {
    width: 13px;
    height: 13px;
  }
  &:hover {
    filter: brightness(40%);
  }
}
