:local(.content) {

  h2 {
    font-size: 1.71rem;
    font-weight: normal;
  }

  h3 {
    font-size: 2.5rem;
    padding-bottom: 1.75rem;
    line-height: 1.25;
  }

  .sub-title {
    font-size: 1rem;
    padding-bottom: .75rem;
  }

  .link {
    text-align: center;

    button {
      width: 100%;
      text-align: center;
      display: block;

      &.default {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  .mgi-items {
    align-items: stretch;
  }

  img {
    display: inline-block;
  }

  .content {
    padding-bottom: 2.75rem;

    ul {

      li {
        padding: 0 0 0 1.71rem;
        background: url('../../../assets/arrow-check-blue.svg') no-repeat 0 3px;
        font-size: 1rem;
        line-height: 1.2;

        + li {
          margin-top: .71rem;
        }
      }
    }
  }

  .panel {
    position: relative;
    height: 100%;

    &-body {
      height: 100%;

      &.padded {
        padding-bottom: calc(1.7rem + 42px);
      }
    }
    .link {
      position: absolute;
      bottom: 1.7rem;
      left: 0;
      right: 0;
      padding: var(--mgi-panel-padding);
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .professional {

    .panel-body {
      background: var(--mgi-theme-palette-blue);
      color: white;
    }

    .button {
      background: white;
      color: var(--mgi-theme-palette-blue);

      &:hover,
      &:active,
      &:focus {
        background: white;
      }
    }

    h3 {

      span:not(:first-child) {
        font-size: .9rem;
        opacity: .6;
        font-weight: normal;
        margin-left: -5px;
      }
    }

    ul li {
      background-image: url('../../../assets/arrow-check-white.svg');
      color: white;
    }
  }

  .pricing-plan {

    &__trial,
    &__after-trial {
      padding-bottom: 5rem;
      max-width: 37rem;
      margin: 0 auto;
    }

    &__trial {

      .trial-image {

        img,
        svg {
          margin-top: 2.14rem;
        }
      }

      .link {
        text-align: left;

        button {
          width: auto;
        }
      }
    }

    &__trial,
    &__after-trial {
      .panel-body.padded {
        padding: var(--mgi-panel-padding);
      }
    }
  }
}
