:local(.pager) {
  display: flex;
}

:local(.pager) > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E3E3E3;
  cursor: pointer;
}

:local(.pager) > span.active {
  background: #2196F3;
}

:local(.pager) > span:not(:last-child) {
  margin-right: 10px;
}